@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-apple-text bg-white font-sans;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .dark body {
    @apply bg-black text-white;
  }
}

/* Custom Utilities for Glassmorphism */
.glass {
  @apply bg-white/70 backdrop-blur-md border-b border-white/20;
}

body.mobile-menu-open #ai-assistant {
  display: none !important;
}
